html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

canvas {
  display: block;
}

p {
  color: white;
  font-family: "Courier New", monospace;
  display: block;
  position: fixed;
  bottom: 1em;
  right: 1em;
}
